$header_bg: #2c2c2c;
$footer_bg: #2c2c2c;
$main_bg: #f5f0dd;
$main_bg_2: #f6f2f2;

/* вспомогательные цвета */
$first_color: #ffffff;
$secondary_color: #2c2c2c;
$third_color: #4c4c4c;
$fourth_color: #ff2d2d;
$fifth_color: #e5e5e5;

/* шрифты */
$font_minimal: 12px;
$font_sm_1: 14px;
$font_sm_2: 16px;
$font_sm_3: 18px;
$font_md: 24px;
$font_xlg: 42px;
$font-hight: 60px;

/* Адаптация */
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
$breakpoint-extra-sm: 320px;
