@include for-tablet {
  .header {
    margin: 0 auto;
    max-width: 768px;
    max-height: 80px;

    ul {
      padding: 30px 0;
    }

    a {
      padding: 30px 20px 27px;
    }
  }
}

@include for-phone {
  .header {
    margin: 0 auto;
    max-width: 480px;
    max-height: 60px;
    background-color: $first_color;

    ul {
      display: flex;
      padding: 20px 0;
    }

    a {
      font-size: $font_minimal;
      padding: 21px 15px 18px;
    }
  }
}
